#page-header{
	font-size: 52px
}
#author{
	font-family: "serif"; font-size: 38px; font-weight: normal;
}
pre {
    white-space: pre-wrap;
}
#para1,#para2,#para3{
	font-family: sans-serif; font-size: 30px
}
#para2 {
	text-align: right;
}
#para4 {
	text-align: left; font-family: fantasy; font-size: 70px; line-height: 15px;
}
a{text-decoration: none;}
a:hover{text-decoration: underline;}

